<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="SystemIcons" type="System.Configuration.DictionarySectionHandler" />
		<section name="ShowSecondsSettings" type="System.Configuration.DictionarySectionHandler" />
		<section name="SystemBGs" type="System.Collections.ObjectModel.ObservableCollection" />
		<section name="GradientBGParam" type="GeekDesk.ViewModel.GradientBGParam" />
	</configSections>
	<ShowSecondsSettings>
		<add key="Version" value="1.0.01" />
		<add key="LProportion" value="0.82" />
		<add key="TProportion" value="0.03" />
		<add key="DelayTime" value="1500" />
	</ShowSecondsSettings>
	<SystemIcons>
		<add key="Calculator" value="计算器" />
		<add key="Computer" value="此电脑" />
		<add key="GroupPolicy" value="组策略" />
		<add key="Network" value="网络连接" />
		<add key="RecycleBin" value="回收站" />
		<add key="Registry" value="注册表编辑器" />
		<add key="Notepad" value="记事本" />
		<add key="Mstsc" value="远程桌面连接" />
		<add key="Control" value="控制面板" />
		<add key="CMD" value="命令行" />
		<add key="Services" value="服务" />
	</SystemIcons>
	<SystemBGs>
		<GradientBGParam Color1="#FCCF31" Color2="#F55555" Name="诸神黄昏" />
	</SystemBGs>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<probing privatePath="lib;Plugins\EveryThing\lib" />
			<dependentAssembly>
				<assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<appSettings>
		<add key="Version" value="2.5.15" />
		<add key="GitHubUrl" value="https://github.com/BookerLiu/GeekDesk" />
		<add key="GiteeUrl" value="https://gitee.com/BookerLiu/GeekDesk/tree/master" />
		<add key="GitHubUpdateUrl" value="https://raw.githubusercontent.com/BookerLiu/GeekDesk/master/Update.json" />
		<add key="GiteeUpdateUrl" value="https://gitee.com/BookerLiu/GeekDesk/raw/master/Update.json" />
		<!--<add key="GiteeUpdateUrl" value="file:///D:/WorkSpace/VS/GeekDesk/Update.json" />-->
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="CustomIconTeachUrl" value="https://mp.weixin.qq.com/s/LxoHAekho9HBVl4FRw_Law" />
		<add key="ShowPublicWeChat" value="Y" />
		<add key="BakDays" value="7" />
	</appSettings>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>